body, input, select, textarea {
    color: #2d3c3c;
}

a {
    color: #c15449;
}

h2 {
    color: #425757;
}

.gallerysubmenu {
    color: #4D5B5B;
}

.wrapper.style2, .style2 h2 {
    color: #fffff;
}

#banner, #cta {
    background-color: #1d6373;
    color: #fff;
}

.button.special {
  background: #295e5d;
  border-color: #fff;
  color: #fff;
}

.button.special:hover {
    background: #eae7b6 !important;
    border-color: #1d6373 !important;
    color: #1d6373 !important;
}

#footer {
    color: #525656;
    text-align: center;
}

#header {
  background: #1d6373;
  color: #fff;
}

#header.reveal {
    background: #fff !important;
    color: #707171 !important;
}

#header.alt.reveal {
    background: transparent !important;
    color: #fff !important;
}