body, input, select, textarea {
    color: #525656;
}

a {
    color: #CA4E10;
}

h2 {
    color: #425757;
}

.gallerysubmenu {
    color: #4D5B5B;
}

.wrapper.style2, .style2 h2 {
    color: #fffff;
}

#banner, #cta {
    background-color: #1d6373;
    color: #fff;
}

.button.special {
  background: #d9ce3d;
  border-color: #fff;
  color: #425757;
}

.button.special:hover {
    background: #f7e7de !important;
    border-color: #c16c11 !important;
    color: #c16c11 !important;
}

#footer {
    color: #525656;
    text-align: center;
}

#header {
    background: #255A5F;
}

#header.reveal {
    background: #fff !important;
    color: #707171 !important;
}

#header.alt.reveal {
    background: transparent !important;
    color: #fff !important;
}