/* custom changes to template layout */
h1.logo {
    font-size: 1.3em;
    position: relative;
    top: -2px;
}

#header {
    color: #ffffff;
}

#header h1.logo a div.img {
    background: url("/reconnect/images/climate_and_re_logo_grey.png") 0 0 no-repeat;
    float: left;
    width: 28px;
    height: 26px;
}

#header.alt h1.logo a div.img {
    background: url("/reconnect/images/climate_and_re_logo.png") 0 0 no-repeat;
}

#header.alt h1.logo {
    top: -15px;
}

h1.logo a div.txt {
    position: relative;
    left: 10px;
    top: 2px;

}

ul li {
    position: relative;
    left: 5%;
    text-align: left;
    list-style: circle;
}

ul.buttons li, ul.feature-icons li, ul.submenu li, ul.dropotron.level-0 li  {
    position: relative;
    left: 0;
}

a.button.special {
    display: block;
}

.responsive {
  width: 100%;
  height: auto;
}

ul.feature-icons {
    margin: -0.75em -0.75em 0 0;
    left: 2em;
}

.icon.circle.fa-envelope-o {
        background: #628265;
        color: white;
}

.image:before {
    background: url("/reconnect/images/overlay2.png");
}

#cta {
    background-image: url("/reconnect/images/light-tl.svg"), url("/reconnect/images/light-tr.svg"), url("/reconnect/images/overlay2.png");
    text-align: center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left, right, center;
}

#banner {
    background-image: url("/reconnect/images/light-bl.svg"), url("/reconnect/images/light-br.svg"), url("/reconnect/images/overlay2.png");
}

.wrapper.style2 {
    background-color: #d95e52;
    /* background-image: url("../images/light-bl2.svg"), url("../images/light-br.svg"); */
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: white;
    position: relative;
    top: 2em;
}

h2 {
    color: #fff;
    font-weight: bold;
}

#cta h2, #banner h2, .style2 h2 {
    color: white;
}

#banner h2 {
    color: #fff;
}

h3 {
    color: #486060;
    font-weight: bold;
}

#focus h3 {
    color: #486060;
}

header.special .icon {
  # color: #7a893c;
  color: #fff;
  font-size: 1.5em;
  position: relative;
  top: 2.1em;
}

#main.blogupdate header.special .icon {
  top: 5em;
}

#stpeters {
    position: relative;
    left: 10%;
}

a {
	color: #E87942;;
}

body, #skel-layers-wrapper {
    background: #d7cab9;
}

#banner .inner {
    background: #d9ce3d;
    color: #425757;
}

#banner .inner header {
    color: #fff;
}

.button.special, .button.special:hover {
    background: #d9ce3d;
    border-color: #fff;
    color: #425757;
}

.image.feature:before {
    background: none;
}

.image.feature img.centred {
    width: 50%;
    position: relative;
    left: 25%;
}

.button.special {
    background: #e19d55;
    border-color: #e19d55;
}

.button.special:hover {
    background: #f6a957  !important;
    border-color: #f6a957 !important;
}

#header.alt h1.logo {
   font-size: 1.3em;
   position: relative;
   top: -15px;
}

.blogheader {
    color: #486060;
}

.gallerysubmenu {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    position: relative;
    top: -20px;
    color: #8aa2a2;
}

.image-billboard.small {
    height: 270px;
}

.image-billboard {
    height: 520px;
}

#topPanel, #sidePanel {
    background: #2b3f44;
}

#header.reveal nav ul {
    position: relative;
    top: -5px;
}

#header.alt.reveal nav ul {
    position: relative;
    top: 0px;
}