{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="blogupdate">

  <header class="special container">
    {{ article.title }}
    <span class="icon fa-{% if article.category != 'people' %}pencil{% else %}{% article.icon %}{% endif %}"></span>
    <h2>{{ article.title }}</h2>
    <!-- add page sub title here -->
    {% if article.category != 'people' %}
    <p>Posted on {{ article.locale_date }} by {{ article.author }}</p>
    {% endif %}
  </header>

  <!-- One -->
    <section class="wrapper style4 container">

      <!-- Content -->
        <div class="content">
          <section class="blogupdate">
            <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
            {% if article.category != 'people' %}
            <div class="blogsubheader">
              Posted in <a href="/reconnect/{{ article.category.url }}" class="category">{{ article.category|replace("-", " ") }}</a>
            </div>
            {% endif %}
            {% if article.photo != '' %}
            <div class="photo">
              <img src="/reconnect/images/team/{{ article.photo }}.{{ article.photo_ext }}" alt="{{ article.title }}"/>
            </div>
            {% endif %}
            <p>{{ article.content }}</p>
          </section>
        </div>

    </section>

    <!-- Two -->
    {% include 'most_recent.html' %}

  </article>

{% if DISQUS_SITENAME %}
  <div id="comments">
      <h2 class="space-above">Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_identifier = "{{ article.url }}";
          (function() {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
  </div>
{% endif %}

{% endblock content %}