{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main" class="home">

  <!-- header class="special container">
    <span class="icon fa-bar-chart-o"></span>
    <h2>More About RE:Connect</h2>
    <p>The project comes in three parts:
    <ul>
      <li>A survey of teachers of RE, hearing their views on what part environmental concerns currently play in RE/Religions and Worldviews, and how this might be expanded in future.</li>
      <li>An innovative Teacher Fellowship programme, to run in autumn 2021/spring 2022, in which four primary and four secondary teachers from the WM region work together with experts in the field to deepen their subject knowledge and work together to create new resources for RE.</li>
      <li>A dissemination phase in which new resources are pilot-tested and fellowship programme participants are supported to become ambassadors for further work in this field.</li>
    </ul>
    The initiative is run by Dr Jeremy Kidwell, Senior Lecturer in Theological Ethics at the University of Birmingham and Dr Ian Jones of St Peter’s Saltley Trust, supported by a steering group of experienced primary and secondary specialists, environmental scientists and practitioners.</p>
    <p>You can follow the project on Twitter: @Climate_and_RE and sign up to a mailing list (hosted JISCmail) here.</p>
  </header -->

  {% include 'focus_homepage.html' %}

  {% include 'latest_projects_homepage.html' %}

  {% include 'funders_homepage.html' %}

  {% include 'vimeo_homepage.html' %}

  {% include 'latest_updates_homepage.html' %}

</article>

{% include 'cta.html' %}

{% endblock content %}