<section class="wrapper style1 container special">
  <div class="row">

    {% for article in articles_page.object_list %}
      {% if UPDATES_TAG in article.tags %}
        {% if loop.index <= UPDATES_COUNT %}
          <div class="4u">
            <section>
              <span class="icon feature fa-{{ article.icon }}"></span>
              <header>
                <a href="/reconnect/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
              </header>
              <p>{{ article.content[:194]|striptags }}...</p>
              <footer>
                <ul class="buttons">
                  <li><a href="/reconnect/{{ article.url }}" class="button small">Read More</a></li>
                </ul>
              </footer>
            </section>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div> <!-- /.row -->
  {% if  1==2 %}
    {% include 'pagination.html' %}
  {% endif %}

</section> <!-- /section -->