{% extends "./base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

    <header class="special container">
    <span class="icon fa-leaf"></span>
    <h2>{{ page.title }}</h2>
  </header>

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- div class="background" style="background-size: cover; background: rgba(0, 0, 0, 0) url(&quot;/reconnect/images/banner3.jpg&quot;) no-repeat scroll 0% 0%; height: 340px; transform: translate(-50%, -135px);"></div -->

    <!-- Content -->
      <div class="content">
        <section>
          <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
          <p>{{ page.content }}</p>
        </section>
      </div>

  </section>

  <!-- Two -->
  {% include 'most_recent.html' %}

  </article>
{% endblock content %}