{% extends "./base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="page">

    <header class="special container">
    <span class="icon fa-{{ page.icon }}"></span>
    <h2>{{ page.title }}</h2>
  </header>

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        <section>
            <p>{{ page.content }}</p>
        </section>
      </div>

  </section>

  <!-- Two -->
  {% include 'most_recent.html' %}

  </article>
{% endblock content %}