{% extends "base.html" %}

{% block title %}Projects | Gallery{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="gallery">

    <header class="special container">
        <span class="icon fa-picture-o"></span>
        <h2>Projects Gallery</h2>
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <!-- Content -->
        <div class="content gallery">
            <div class="row">
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project" id="peopleandtheplanet">
                            <span class="icon fa-globe"></span>
                        </a>
                        <header>
                            <h3>People and the Planet</h3>
                            <div class="gallery_metadata">
                                <span class="project_title"><strong>Title:</strong> KS3 Curriculum Project</span>
                                <div class="project_author_img floatleft"></div>
                                <span class="project_author"><strong>Author:</strong> Author Name</span>
                                <span class="project_school"><strong>School:</strong> School Name</span>
                                <span class="project_location"><strong>Location:</strong> Area</span>
                            </div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <a href="/reconnect/files/people_and_the_planet.pptx"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>&nbsp;Download project file</a>
                    </section>

                </div>
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project alternate" id="introtoclimatechange">
                            <span class="icon fa-comment"></span>
                        </a>
                        <header>
                            <h3>Introduction to climate change and different responses</h3>
                            <div class="gallerysubmenu">KS3 Curriculum Project</div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <a href="/reconnect/files/intro_to_climate_change.pptx"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>&nbsp;Download project file</a>
                    </section>

                </div>
            </div>

            <div class="row">
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project alternate">
                            <span class="icon fa-question"></span>
                        </a>
                        <header>
                            <h3>Project 3</h3>
                            <div class="gallerysubmenu">Project 3 type</div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>

                </div>
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project">
                            <span class="icon fa-question"></span>
                        </a>
                        <header>
                            <h3>Project 4</h3>
                            <div class="gallerysubmenu">Project 4 type</div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>

                </div>
            </div>

            <div class="row">
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project">
                            <span class="icon fa-question"></span>
                        </a>
                        <header>
                            <h3>Project 5</h3>
                            <div class="gallerysubmenu">Project 5 type</div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>

                </div>
                <div class="6u">

                    <section>
                        <a href="#" class="image feature project alternate">
                            <span class="icon fa-question"></span>
                        </a>
                        <header>
                            <h3>Project 6</h3>
                            <div class="gallerysubmenu">Project 6 type</div>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>

                </div>
            </div>

        </div>

    </section>

    <!-- Two -->
    {% include 'most_recent.html' %}

</article>
{% endblock content %}