{% extends "base.html" %}

{% block title %}Projects | Gallery{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="gallery">

    <header class="special container">
        <span class="icon fa-picture-o"></span>
        <h2>Projects Gallery</h2>
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <!-- Content -->
        <div class="content gallery">
                {% set count = namespace(value=0) %}
                {% for article in articles if 'project' in article.tags %}
                    {% if(count.value % 2) == 0 or count.value==0  %}
                        <div class="row" id="row-{{ count.value }}">
                    {% endif %}
                    <div class="6u">
                        <section>
                            <a href="#" class="image feature project {{ article.color_style }}" id="{{ article.slug }}">
                                <span class="icon fa-{{ article.icon }}"></span>
                            </a>
                            <div>
                                <h3>{{ article.title }}</h3>
                                <div class="gallery_metadata">
                                    <div class="project_title">{{ article.project_title }}</div>
                                    <div class="authorinfo" id="{{ article.file }}">
                                        <div class="project_author_img"--><!-- img src="/reconnect/images/project/author/{{ article.author_img }}.jpg" / --></div>
                                        <div class="project_author_detail">
                                            <div class="project_author"><strong>Author:</strong> {{ article.author }}</div>
                                            <div class="project_school"><strong>School:</strong> {{ article.school }}</div>
                                            <div class="project_location"><strong>Location:</strong> {{ article.location }}</div>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ article.summary}}</p>
                                <a href="/reconnect/files/{{ article.file }}.{{ article.file_extension }}"><i class="fa fa-file-{{ article.file_icon }}-o" aria-hidden="true"></i>&nbsp;Download project file</a>
                            </div>
                        </section>
                    </div>
                    {% if(count.value % 2) == 0 or count.value==0  %}
                        </div>
                    {% endif %}
                    {% set count.value = count.value + 1 %}
                {% endfor %}
        </div>

    </section>

    <!-- Two -->
    {% include 'most_recent.html' %}

</article>
{% endblock content %}
