{% extends "base.html" %}

{% block title %}Team | {{ super() }}{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="resources">

    <header class="special container">
        <span class="icon fa-cog"></span>
        <h2>Team</h2>
        <!-- add page sub title here -->
        <p></p>
    </header>


    <section class="wrapper style4 container resources">

        <div class="row oneandhalf">

            <div class="12u">

                <div class="content">
                    <section>
                        <h3>Current Team</h3>
                        {% for article in articles if 'resource-type-1' in article.tags %}
                            <p>{{ article.summary }}</p>
                        {% endfor %}

                        <h3>Resource Type 2</h3>
                        {% for article in articles if 'resource-type-2' in article.tags %}
                        <p>{{ article.summary }}</p>
                        {% endfor %}
                    </section>
                </div>
            </div>

        </div>
    </section>
</article>

{% include 'cta.html' %}

{% endblock content %}