{% extends "base.html" %}

{% block title %}Team | {{ super() }}{% endblock title %}

{% block content %}
<!-- Banner -->
<section id="banner_img" xmlns="http://www.w3.org/1999/html"></section>

<!-- Main -->
<article id="main" class="resources">

    <header class="special container">
        <span class="icon fa-cog"></span>
        <h2>Team</h2>
        <!-- add page sub title here -->
        <p></p>
    </header>


    <section class="wrapper style4 container resources">

        <div class="row oneandhalf">

            <div class="12u">

                <div class="content">
                    <section>
                        <h3>Current Team</h3>
                        {% set count = namespace(value=0) %}
                        {% for article in articles if 'team-current' in article.tags %}
                            {% if(count.value % 2) == 0 or count.value==0  %}
                                <div class="row" id="row-{{ count.value }}">
                            {% endif %}
                                    <div class="6u">
                                        <h4>{{ article.title }}</h4>
                                        {% if article.photo %}
                                            <div class="team_photo">
                                                <img src="/reconnect/images/team/{{ article.photo }}.{{ article.photo_ext }}" alt="{{ article.title }}"/>
                                            </div>
                                        {% endif %}
                                        <p>{{ article.summary }}</p>
                                    </div>
                            {% if(count.value % 2) == 1 or count.value==1 %}
                                </div>
                            {% endif %}
                            {% set count.value = count.value + 1 %}
                        {% endfor %}

                        <h3>Speakers</h3>
                        {% for article in articles if 'speaker' in article.tags %}
                        <p>{{ article.summary }}</p>
                        {% endfor %}

                        <h3>Alumni</h3>
                        {% for article in articles if 'alumni' in article.tags %}
                        <p>{{ article.summary }}</p>
                        {% endfor %}

                    </section>
                </div>
            </div>

        </div>
    </section>
</article>

{% include 'cta.html' %}

{% endblock content %}