body, input, select, textarea {
    color: #525656;
}

a {
    color: #EA5C14;
}

h2 {
    color: #425757;
}

.gallerysubmenu {
    color: #4D5B5B;
}

.wrapper.style2, .style2 h2 {
    color: #4D2600;
}

#banner, #cta {
    background-color: #0f3344;
}

.button.special {
    background: #c16c11;
    border-color: #fff;
    color: #fff;
}

.button.special:hover {
    background: #f7e7de !important;
    border-color: #c16c11 !important;
    color: #c16c11 !important;
}

#footer {
    color: #525656;
}