/* custom changes to template layout */
h1.logo {
    font-size: 1em;
    position: relative;
    top: -2px;
}

#header h1.logo a div.img {
    background: url("/images/climate_and_re_logo_grey.png") 0 0 no-repeat;
    float: left;
    width: 28px;
    height: 26px;
}

#header.alt h1.logo a div.img {
    background: url("/images/climate_and_re_logo.png") 0 0 no-repeat;
}

h1.logo a div.txt {
    position: relative;
    left: 10px;
    top: 2px;

}

ul li {
    position: relative;
    left: 2em;
    text-align: left;
    list-style: circle;
}

ul.buttons li, ul.feature-icons li, ul.submenu li {
    position: relative;
    left: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

ul.feature-icons {
    margin: -0.75em -1.5em 0 0
}

.icon.circle.fa-envelope-o {
        background: #da83ae;
        color: white;
}

.image:before {
    background: url("/theme/css/images/overlay2.png");
}

#cta {
    background-image: url("/theme/css/images/light-tl.svg"), url("/theme/css/images/light-tr.svg"), url("/theme/css/images/overlay2.png"), url("/theme/images/banner.jpg");
}

#banner {
    background-image: url("/theme/css/images/light-bl.svg"), url("/theme/css/images/light-br.svg"), url("/theme/css/images/overlay2.png"), url("/theme/images/banner.jpg");
}

.wrapper.style2 {
    background-color: #7c7f3f;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

h2 {
    color: #7a893c;
    font-weight: bold;
}

#cta h2, #banner h2, .style2 h2 {
    color: white;
}

h3 {
    color: #64738a;
    font-weight: bold;
}

header.special .icon {
    color: #7a893c;
}

a {
	color: #98b13f;
}
