/* change of page display (not homepage) */
body, #skel-layers-wrapper, #footer {
    background: #d7cab9;
}

.container {
    width: 90%;
}

#header {
    background: #d9ce3d;
    color: #1d6373;
    box-shadow: 0 1px 2px 0 rgba(54, 48, 48, 0.28);
}

#header h1.logo a div.img {
    background: url("/reconnect/images/climate_and_re_logo.png") 0 0 no-repeat;
}

.icon {
    color: #4e7884;
}