/* change of page display (not homepage) */
#banner_img {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #307083;
    background-image: url("/reconnect/images/light-bl9.svg"), url("/reconnect/images/light-br9.svg"), url("/reconnect/images/overlay2.png"), url("/reconnect/images/page_bgd2.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: white;
    cursor: default;
    padding: 8em 0;
    text-align: center;
    position: relative;
    top: 3em;
}

body, #skel-layers-wrapper {
    background: #C0D8F0;
}


#main {
    position: relative;
    top: -9em;
    width: 86%;
    left: 7%;
    background: #fff;
    padding-top: 4em;
}

#footer {
    background: #C0D8F0;
}

.container {
    width: 90%;
}

#header {
    # background: #939393;
    rgb(29, 104, 135)
    box-shadow: 0 1px 2px 0 rgba(54, 48, 48, 0.28);
}

#header h1.logo a div.img {
    background: url("/reconnect/images/climate_and_re_logo.png") 0 0 no-repeat;
}

#header nav {
    top: 0.7em !important;
}